/.gradle
/build
.gradle
.gradle/**
.DS_Store
.DS_Store
.DS_Store
*.bin
*.bin
.gradle/file-system.probe
/htmlReport
/.gradle
/.gradle/9.4.1/executionHistory
.gradle/9.4.1/executionHistory/executionHistory.bin
/.gradle/9.4.1
/.gradle
